@import url("foundation.css");

/*************** RETOQUES AQUI  ***************/
element.style {
	position: relative;
}

body {
	background: white;
	color: #777777;
	padding: 0;
	margin: 0;
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
}

#nav-tienda {
	position: absolute;
	top: 150px;
	left: 30px;
	color: #000;
	text-shadow: 1px 1px #AAA;
	font-size: 22px;
	z-index: 999;
}

#nav-tienda ul,#nav-tienda li,ul#menu-tienda-categorias.menu {
	list-style: none !important;
}

.breadcrumb,.woocommerce-result-count,.woocommerce-ordering,.related-product
	{
	display: none !important;
}

#main-content {
	margin-bottom: 50px;
}

.available-on-backorder {
	color: #900 !important;
}

#qtrans_select_qtranslate-2-chooser {
	float: left;
	margin-left: -100px;
	width: 64px;
	border: 0;
	font-size: 13px;
	background: transparent;
}