
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security   
        http://www.springframework.org/schema/security/spring-security-3.1.xsd"
	default-autowire="byName">
	<!-- Spring-Security 的配置 -->
	<security:http pattern="/js/**" security="none"/>  
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/login.jsp" security="none"/>  
    <security:http pattern="/jsp/admin/login.jsp" security="none"/>  
	<!-- 注意开启use-expressions.表示开启表达式. see:http://www.family168.com/tutorial/springsecurity3/html/el-access.html -->
	<security:http entry-point-ref="loginUrlEntryPoint" authentication-manager-ref="authenticationManager">
		<security:intercept-url pattern="/login.**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/jsp/admin/login.**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/jsp/admin/**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <!-- 登录过滤器 -->
        <security:custom-filter before="FORM_LOGIN_FILTER" ref="loginFilter"/>
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="adminLoginFilter"/>

        <!-- 注销过滤器 -->
        <security:custom-filter before="LOGOUT_FILTER" ref="logoutFilter"/>
        <security:custom-filter position="LOGOUT_FILTER" ref="adminLogoutFilter"/>
	</security:http>

	<!-- 指定一个自定义的认证管理器authentication-manager :customUserDetailsService -->
	<security:authentication-manager id="authenticationManager">
		<security:authentication-provider
			user-service-ref="customUserDetailsService" />
		<!-- <security:authentication-provider -->
		<!-- ref="customAuthenticationProvider" /> -->
	</security:authentication-manager>

	<!-- 对密码进行MD5编码 -->
	<bean
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"
		id="passwordEncoder" />

	<!-- 验证前台用户 -->
	<bean id="loginFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationFailureHandler"
			ref="failureHandler" />
		<property name="authenticationSuccessHandler"
			ref="successHandler" />
		<property name="filterProcessesUrl" value="/login" />
	</bean>

	<bean id="failureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/login.jsp?error=true" />
	</bean>

	<bean id="successHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="alwaysUseDefaultTargetUrl" value="true" />
		<property name="defaultTargetUrl" value="/main.jsp" />
	</bean>
	<!-- 验证后台用户 -->
	<bean id="adminLoginFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationFailureHandler"
			ref="adminFailureHandler" />
		<property name="authenticationSuccessHandler"
			ref="adminSuccessHandler" />
		<property name="filterProcessesUrl" value="/admin/login" />
	</bean>

	<bean id="adminFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/jsp/admin/login.jsp?error=true" />
	</bean>

